<?php
	session_start();
	
	include("phpscripts/phpfunctions.php");
?>

<!DOCTYPE html>
<html>
	<head>
		<link href="main_styles.css" rel="stylesheet" type="text/css" />
	</head>
	
	<body>
		
		<!-- THIS IS THE START OF "top_sect" -->
			<script src="includes/top_sect.js" type="text/javascript"></script>
		<!-- THIS IS THE END OF "top_sect" -->
		
		<div id="main_sect">
			<div style="width:100%;">
				<div id="left_sect">
					
					<?php include('includes/login_manager.php'); ?>
					
					<br />
					
					<script src="includes/navigation.js" type="text/javascript"></script>
				</div>
				
				<!-- THIS IS THE START OF "body_sect" -->
				<div id="body_sect"> <div id="body_sect_inner">
				
				<h1 align="center">All Members</h1>
				<?php
					//select all of the members for listing contact info
					$query = "SELECT * FROM members ORDER BY first, last";
					
					$rows = queryWithAssocResult($query);
					
					foreach ($rows as $row)
					{
						echo "<div class='public_member_info'>";
						echo "<b>" . $row['first'] . " " . $row['last'] . "</b><br />";
						echo $row['position'] . "<br />";
						echo "<b>Cell: </b>" . $row['phone_cell'] . "<br />";
						if ($row['textable'] == '1') echo "Textable<br />";
						echo "</div>";
					}
				?>
				</div> </div>
				<!-- THIS IS THE END OF "body_sect" -->
			</div>
		</div> <!-- END OF MAIN DIV -->
	</body>
</html>